@model IEnumerable<HustleCastle.Models.Tutorial>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Criar" class="btn btn-primary">Novo Tutorial</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Detalhes", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
