@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Portal de dicas </h1>
    <p>Esse portal foi construído para centralizar as dicas do clã Brasil Ceará</p>
    <p>Para criar e visualizar as dicas acesse a página Tutoriais </p>
</div>
1
