@model HustleCastle.Models.Tutorial

@{
    ViewData["Title"] = "Editar";
}
<h4>Edição de Tutorial</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Save" method="post">
            <input type="hidden" asp-for="Author" value="@User.Identity.Name" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control ckeditor">  </textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="~/lib/ckeditor5/build/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('.ckeditor'), {
        toolbar: {
            items: [
                'heading',
                '|',
                'undo',
                'redo',
                'bold',
                'italic',
                'underline',
                'fontColor',
                'fontFamily',
                'fontSize',
                'highlight',
                '|',
                'bulletedList',
                'numberedList',
                '|',
                'blockQuote',
                'link',
                'insertTable',
                'mediaEmbed',
                '|',
                'htmlEmbed',
                'codeBlock'
            ]
        },
        language: 'pt-br',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:full',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells',
                'tableCellProperties',
                'tableProperties'
            ]
        },
        licenseKey: '',
    })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: xidq7nw7pv6k-haabvbvyar0q');
            console.error(error);
        });
</script>